<div class="my-recipe-screen mt-3 mb-3">
    <!-- <h3 *ngIf="myRecipe">My New Recipe Title</h3> -->
    <div class="container">
        <h2>Add Recipe</h2>
        <div class="my-recipe-form">
            <app-add-recipe (addNewRecipeToEmit)="getdata($event)"></app-add-recipe>
        </div>
        <div class="my-recipe-listing mt-5">
            <h2>My Recipes</h2>
            <div class="list-of-card">
                <app-recipe-list-cell [recipesList]="recipes"></app-recipe-list-cell>
            </div>
        </div>
    </div>
</div>